* {
  margin: 0;
  padding: 0;
}

//converter
.Currency {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  width: 90%;
}

.converter {
  border: 2px solid black;
  padding: 20px;
  margin: 15px;
}

// User Account

.deposit {
  border: 3px solid black;
  padding: 20px;
  margin: 15px;
  background: blue;
}

// User Wallet

.wallet {
  border: 2px solid black;
  padding: 20px;
  margin: 15px;
}

.select-option {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.dropdown {
  background: white;
  padding: 1px 10px;
}

h2 {
  font-size: 24px;
}

.select-options {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.dropdowns {
  background: white;
  padding: 1px 10px;
}
