body {
  margin:0;
  display: flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  min-height:100vh;
  background-image: linear-gradient(
  110deg,
  hsl(240deg 61% 40%) 0%,
  hsl(294deg 73% 43%) 14%,
  hsl(348deg 85% 46%) 25%,
  hsl(42deg 97% 49%) 34%,
  hsl(20deg 96% 55%) 40%,
  hsl(333deg 91% 61%) 44%,
  hsl(286deg 86% 67%) 48%,
  hsl(278deg 81% 65%) 51%,
  hsl(308deg 77% 55%) 55%,
  hsl(338deg 74% 45%) 61%,
  hsl(0deg 73% 38%) 68%,
  hsl(0deg 82% 42%) 77%,
  hsl(0deg 91% 46%) 88%,
  hsl(0deg 100% 50%) 100%
);
}

h1{
  margin:0;
  margin-buttom:.5rem;
}

.input{
  border:1px solid #333;
  border-radius:.3em;
  padding:.25rem;
  width: 8em;
}

select {
  margin-left:.5rem;
}

.equals{
  font-weight:bold;
  font-size:2rem;
}

/* .app{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  gap:100px;
}   */

// CurrencyBox.css styling

.currency {
  
}